/* HEADER */
#app-header {
    position: fixed; top: 0; left: 0; right: 0; height: var(--header-height);
    background-color: var(--brand-primary); display: flex; align-items: center; justify-content: space-between;
    padding: 0 25px; box-shadow: var(--shadow-soft); z-index: 10;
}
.header-left { display: flex; align-items: center; gap: 30px; flex: 1; }
.header-right { display: flex; gap: 10px; }

/* SIDEBAR */
#app-sidebar {
    position: fixed; left: 0; bottom: 0; width: var(--sidebar-width);
    top: calc(var(--header-height) + var(--gap-top)); 
    background-color: var(--bg-surface); display: flex; flex-direction: column;
    border-top-right-radius: 10px; box-shadow: var(--shadow-soft);
    transition: left 0.3s ease; z-index: 1000;
}

/* MAIN WRAPPER GENÉRICO */
#app-main {
    position: fixed; bottom: 0; top: calc(var(--header-height) + var(--gap-top));
    left: calc(var(--sidebar-width) + var(--gap-side)); right: var(--gap-side);
    background-color: var(--bg-surface); display: flex; flex-direction: column;
    border-top-left-radius: 10px; border-top-right-radius: 10px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.03); overflow: hidden; 
    transition: left 0.3s ease, width 0.3s ease;
}

/* ESTILO ESPECÍFICO PARA TELAS DE CADASTRO (Full Width Desktop) */
#app-main.main-registration {
    left: var(--gap-side); /* Remove espaço da sidebar */
    width: calc(100% - (var(--gap-side) * 2));
    background-color: transparent; /* Fundo transparente para ver o cinza do body */
    box-shadow: none;
    overflow-y: auto; /* Permite rolar a página inteira */
    align-items: center; /* Centraliza o form */
}

/* Esconde sidebar no desktop APENAS nas telas de cadastro */
body:has(.main-registration) #app-sidebar {
    display: none;
}

/* MODIFICADOR TRANSPARENTE (Lista Equipamentos) */
#app-main.main-transparent { background-color: transparent; box-shadow: none; border-radius: 0; overflow: visible; }


/* --- RESPONSIVIDADE (MOBILE & TABLET) --- */
@media (max-width: 768px) {
    /* Mostra sidebar no mobile mesmo nas telas de cadastro (para funcionar o menu) */
    body:has(.main-registration) #app-sidebar {
        display: flex; 
    }

    #app-sidebar { 
        left: -100%; width: 80%; max-width: 300px; height: 100%; top: 0; z-index: 2000; 
        box-shadow: 2px 0 10px rgba(0,0,0,0.2);
    }
    #app-sidebar.sidebar-open { left: 0; }
    
    body.menu-active::before {
        content: ''; position: fixed; top: 0; left: 0; width: 100%; height: 100%;
        background: rgba(0,0,0,0.5); z-index: 1500; animation: fadeIn 0.2s;
    }

    #app-main { 
        left: var(--gap-side) !important; 
        width: calc(100% - (var(--gap-side) * 2)); 
    }
    
    :root { --gap-side: 10px; }
}